<section class="contacto" id="contacto">
  <div class="contenedor">
    <h2 class="titulo">¿Listo para tu próximo proyecto?</h2>
    <p class="subtitulo">
      Cuéntame tu idea y la convertiré en una solución real.
    </p>

    <span class="icono-mail" [innerHTML]="icons['mail']"></span>

    <div class="redes">
    <div class="footer-container">

    <a
      href="https://github.com/chaknogf"
      target="_blank"
      rel="noopener"
      class="footer-link"
    >
      <span [innerHTML]="icons['github']"></span> chaknogf
    </a>
    <a
    href="https://linkedin.com/in/ronald-chacón"
    target="_blank"
    class="footer-link"
    >
      <span [innerHTML]="icons['linkedin']"></span>LinkedIn</a>
  </div>
    </div>
  </div>
</section>
