<div class="hero-background"></div>

  <section class="hero-content">
    <h1>Ronald Chacón</h1>
    <h2>Desarrollador Fullstack & Arquitecto de Sistemas</h2>
    <p>Creo soluciones digitales con propósito, fusionando tecnología, diseño y estrategia.</p>


    <div class="card">
      <div class="loader">
        <p class="descripcion" >desarrollando  </p>
        <div class="words">
          <span class="word">Paginas Web</span>
          <span class="word">Web Apps</span>
          <span class="word">App Moviles</span>
          <span class="word">apis</span>
          <span class="word">sueños e ideas</span>
        </div>
      </div>
    </div>




</section>
