<section class="hero" id="hero">
  <div class="hero-content">

    <div class="hero-icon" [innerHTML]="icons['ghost']"></div>

    <h1 class="nombre">{{ nombre }}</h1>

    <h2 class="titulo">{{ titulo }}</h2>
    <p class="descripcion">{{ descripcion }}</p>

    <div class="card">
      <div class="loader">
        <p class="descripcion" >desarrollando  </p>
        <div class="words">
          <span class="word">Paginas Web</span>
          <span class="word">Web Apps</span>
          <span class="word">App Moviles</span>
          <span class="word">apis</span>
          <span class="word">sueños e ideas</span>
        </div>
      </div>
    </div>


  </div>

  <div class="hero-bg">
    <div class="circulo c1"></div>
    <div class="circulo c2"></div>
    </div>
</section>
