<section class="cyber-avatar-section">
  <div class="avatar-box">
    <div class="avatar-frame">
      <img src="/assets/phantom1.avif" alt="Código Fantasma" class="avatar-img" />
    </div>
    <h3 class="hero-title title-left">Amigable a tu presupuesto</h3>
  </div>

  <div class="avatar-box">
    <div class="avatar-frame">
      <img src="/assets/phantom2.avif" alt="Código Fantasma" class="avatar-img" />
    </div>
    <h3 class="hero-title title-center">Moderniza y simplifica tu trabajo</h3>
  </div>

  <div class="avatar-box">
    <div class="avatar-frame">
      <img src="/assets/phantom3.avif" alt="Código Fantasma" class="avatar-img" />
    </div>
    <h3 class="hero-title title-right">Mejor experiencia de usuario UX</h3>
  </div>
</section>
