/* From Uiverse.io by 20essentials */
.container-espiral {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -50;
  display: flex;
  flex-wrap: wrap;
  place-content: center;

  .loader {
    position: relative;
    transform: rotate(calc(var(--r) * 45deg));

    .circulo {
      --color: rgba(0, 255, 0, 0.677);
      top: 0;
      width: -200px;
      height: 2px;
      left: 100px;
      position: absolute;
      transform-origin: right;
      transform: rotate(calc(var(--i) * 18deg));

      &::before {
        content: "";
        position: absolute;
        top: -50%;
        width: 15px;
        height: 15px;
        background-color: var(--color);
        border-radius: 50%;
        box-shadow:
          0 0 10px var(--color),
          0 0 20px var(--color),
          0 0 40px var(--color),
          0 0 60px var(--color),
          0 0 80px var(--color),
          0 0 100px var(--color);
        animation: animate 5s linear infinite ;
        animation-delay: calc(var(--i) * -1.5s);
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateX(500px) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(0);
    opacity: 1;
  }
}
