/* From Uiverse.io by SelfMadeSystem */
.loader {
  position: relative;
  height: 200px;
  max-height: 40%;
  aspect-ratio: 2/3;
}

.overlay {
  position: absolute;
  inset: -999px;
  backdrop-filter: blur(7px) brightness(10);
}

.ball {
  position: absolute;
  bottom: 0;
  --a: 32.02135;
  --w: 24px;
  --m: 10px;
  --b: mod(var(--n) * var(--a), 1);
  left: calc((100% - var(--w)) * var(--b));
  width: var(--w);
  height: var(--w);
  background: radial-gradient(closest-side, #fff, #f50, #f00, #f300);
  border-radius: 0% 100%;
  translate: calc(-1 * var(--m)) 0;
  animation:
    ball-wee 2s calc(var(--n) * -2s) infinite linear,
    ball-bf 1.756s calc(mod(var(--n) * 6, 1) * -1.232s) ease-in-out infinite;
}

@keyframes ball-wee {
  from {
    scale: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    scale: 1;
  }
  to {
    left: calc(50% - var(--w) * 0.5 + (25%) * (var(--b) * 2 - 1));
    bottom: calc(100% - 24px);
    scale: 0;
    rotation: 180deg;
  }
}

@keyframes ball-bf {
  50% {
    translate: var(--m) 0;
  }
}

.blur {
  position: absolute;
  inset: -999px;
  z-index: 1;
  pointer-events: none;
}

.line {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(var(--p));
  mask: linear-gradient(0deg, #000 var(--s), #0000 var(--e));
}
