<section class="hero">


  <div class="hero-content">
    <h1 class="title">
      <span>R</span>
      <span>o</span>
      <span>n</span>
      <span>a</span>
      <span>l</span>
      <span>d </span>
    </h1>
  <span class="space-letter"></span>
     <h1 class="title">
      <span> C</span>
      <span>h</span>
      <span>a</span>
      <span>c</span>
      <span>ó</span>
      <span>n</span>
    </h1>

    <h2 class="subtitles">Desarrollador Fullstack & Arquitecto de Sistemas</h2>
    <p class="subtitles">Creo soluciones digitales con propósito, fusionando tecnología, diseño y estrategia.</p>
  </div>
</section>
