/* You can add global styles to this file, and also import other style files */
body {
  background-image: radial-gradient(circle at center center, transparent,rgb(5,21,71)),repeating-linear-gradient(225deg, rgb(5,21,71) 0px, rgb(5,21,71) 2px,transparent 2px, transparent 10px,rgb(5,21,71) 10px, rgb(5,21,71) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(135deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(180deg, rgb(5,21,71),rgb(5,21,71));
  background-size: 200% 100%;
  animation: bgShift 20s ease infinite;
}
@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
